@page "/"
@page "/kwanza-smart/"

<div class="space-y-6">
    <Header />
    <SensorCards />
    
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <ChartSection />
        <AlertsSection />
    </div>
    
    <LatestReadingsTable />
</div>